#body {
  margin: 0px;
}

#menu {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 120px;
  display: inline-flex;
  justify-content: space-between;
  gap: 60px;
  font-family: arial;
  text-decoration: none;
}

#logo {
  height: auto;
  width: 150px;
  align-items: start;
  padding-top: 10px;
}


.container-custom {
  background: #fff;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:black
}

.container-imagem {
  background: #3b398a;
  text-align: start;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.vagas {
  justify-content: right;
  align-items: end;
  padding-left: 1020px;
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.unidades {
  text-align: center;
}

.contato {
  display: inline;
  justify-content: flex-start;
  align-items: center;
}

#rodape {
  background-color: #e1e1e1;
}

.embreve {
  padding: 280px;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.sobrecurso {
  padding-top: 10px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 100px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}